name: Test PR commit
on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: tfprovider
  cancel-in-progress: false

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      tools: ${{ steps.filter.outputs.tools }}
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            tools:
              - 'tools/**'

  terraform_fmt_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - name: Terraform fmt
        run: | 
          dir_check(){ for i in `ls`; do cd $i; terraform fmt -check; cd ..; done }

          echo "Checking path tests/e2e..."
          cd tests/e2e
          terraform fmt -check
          cd ../..
          echo "Path tests/e2e passed!"

          echo "Checking path examples/resources..."
          cd examples/resources
          dir_check
          cd ..
          echo "Path examples/resources passed!"

          echo "Checking path examples/data-sources..."
          cd data-sources
          dir_check
          echo "Path examples/data-sources passed!"


  go_fmt_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run Go Fmt Checks
        run: | 
          echo "Checking path tests/acceptance"
          cd tests/acceptance
          if [[ `gofmt -l .` ]]; then 
            gofmt -l . && exit 1
          else
            echo "fmt check passed"
          fi
          cd ../..

          echo "Checking path internal/sdk/internal/hooks"
          cd internal/sdk/internal/hooks
          if [[ `gofmt -l .` ]]; then 
            gofmt -l . && exit 1
          else
            echo "fmt check passed"
          fi


  acceptance_test_cloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run Acceptance Tests [Cloud]
        env:
          CRIBL_ORGANIZATION_ID: "beautiful-nguyen-y8y4azd"
          CRIBL_WORKSPACE_ID: "tfprovider"
          CRIBL_CLOUD_DOMAIN: "cribl-playground.cloud"
          CRIBL_CLIENT_ID: ${{ secrets.CRIBL_CLIENT_ID }}
          CRIBL_CLIENT_SECRET: ${{ secrets.CRIBL_CLIENT_SECRET }}
          TF_ACC: true 
          DEPLOYMENT: "cloud"
        run: | 
          export CRIBL_ORGANIZATION_ID CRIBL_WORKSPACE_ID CRIBL_CLOUD_DOMAIN
          export CRIBL_CLIENT_ID CRIBL_CLIENT_SECRET TF_ACC DEPLOYMENT
          make acceptance-test

  acceptance_test_onprem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Start Docker Compose services
        run: docker compose -f tests/docker/docker-compose.yml up -d

      - name: Sleep - Let Cribl Spin Up
        run: sleep 30s
        shell: bash

      - name: Run Acceptance Tests [OnPrem]
        env:
          CRIBL_ONPREM_SERVER_URL: "http://localhost:19000"
          CRIBL_ONPREM_USERNAME: "admin"
          CRIBL_ONPREM_PASSWORD: "admin"
          TF_ACC: true
          DEPLOYMENT: "onprem"
          GOMAXPROCS: 1
        run: |
          export CRIBL_ONPREM_SERVER_URL CRIBL_ONPREM_USERNAME CRIBL_ONPREM_PASSWORD
          export TF_ACC DEPLOYMENT GOMAXPROCS

          #hack to create pack we need for acceptance testing onprem
          token=`curl -s -X POST -d "{\"username\":\"$CRIBL_ONPREM_USERNAME\",\"password\":\"$CRIBL_ONPREM_PASSWORD\"}" -H "Content-Type: application/json" $CRIBL_ONPREM_SERVER_URL/api/v1/auth/login | jq '.token' | tr -d '"' `
          curl -X POST   -H "Authorization: Bearer $token"   -H "Content-Type: application/json"   -d '{"version":"0.0.1","tags":{"streamtags":[]},"exports":[],"displayName":"HelloPacks","id":"HelloPacks"}'   $CRIBL_ONPREM_SERVER_URL/api/v1/m/default/packs

          make acceptance-test

      - name: Stop Docker Compose services
        if: always()
        run: docker compose -f tests/docker/docker-compose.yml down --rmi all

  unit_test_internal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run Unit Tests
        run: | 
          make unit-test

  unit_test_import_cli:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.tools == 'true'
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run import-cli Unit Tests
        run: make unit-test-import-cli

  speakeasy_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Install Speakeasy
        uses: mheap/setup-go-cli@v1
        with:
          owner: speakeasy-api
          repo: speakeasy
          cli_name: speakeasy
          package_type: zip

      - name: Configure speakeasy CLI
        run: |
          mkdir -p ~/.speakeasy
          echo 'speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}' > ~/.speakeasy/config.yaml

      - name: Run Speakeasy Tests
        run: | 
          make test-speakeasy


  staticcheck_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: dominikh/staticcheck-action@v1.3.1
        with:
          checks: inherit,-ST1000

